.opc-progress-bar {
  margin: 50px 0 0 20px;
}

.tocompare {
  display: none;
}
.page-layout-1column .products-grid .product-item {
  width: 33.333333%;
}
.product-item-info {
  width: 300px;
}

.fieldset > .field:not(.choice) > .control {
  width: 100%;
  float: none;
}
.fieldset > .field:not(.choice) > .label{
  text-align: left;
}

.iwd-checkout-payment-method .payment-methods div.payment-method._active .payment-method-title .label span {
  background: @color-red;
  color: #FFFFFF;
}

.iwd-summary-cart .iwd-grand-total-button:before, .iwd-summary-cart .iwd-arrow-down:after {
  content: '';
}
.iwd-checkout-step-shipping .form-shipping-address div[name="shippingAddress.country_id"],
.iwd-checkout-step-shipping .form-shipping-address div[name="shippingAddress.postcode"] {
  margin-top: 0 !important;
}

.iwd-summary-cart, .actions-toolbar button.checkout, .action.primary:focus, .action.primary:active {
  background-color: @color-red;
  color: #FFFFFF;
}

.iwd-table-checkout-shipping-method .row:before, .iwd-table-checkout-shipping-method .row:after, .billing-address-details {
  display: none;
}

.iwd-table-checkout-shipping-method > thead > tr > th {
  padding-left: 0;
}
.iwd-table-checkout-shipping-method tr > td.iwd-shipping-method-name {
  padding: 7px 0 9px 0;
}

form input {
  margin-bottom: 0;
}

.checkout-onepage-success .checkout-success {
  margin-top: 100px;
}
.checkout-onepage-success #registration {
  margin-bottom: 100px;
}

.checkout-index-index {
  .greet {
    display: none;
  }
  .header.links{
    display: inline-block;
    float: right;
    padding-top: 23px;
    font-family: "Raleway";
    text-transform: uppercase;
  }
  input, select {
    background: #F5F2F3;
    border: 0;
    height: 32px;
    margin-bottom: 10px;
  }
  .step-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    border-bottom:0;
  }
  form input[type=checkbox], form input[type=radio]{
    display: inline;
    width: 20px;
  }
  label {
    display: inline;
  }
  .iwd-checkout-payment-method .payment-method .payment-method-title{

    .label {
      span {
        background: none;
        color: #0A0A0A;
        display: inline;
        &:hover {
          background: none;
        }
      }
    }
  }

    .choice label:before {
      width: 8px;
      height: 8px;
      top: 7px;
      left: -23px;
      border-radius: 50%;
      background: #B0181A;
      opacity: 0;
    }
    .choice label:after {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid #B0181A;
      left: -30px;
      top: 0;
    }

  .iwd-checkout-payment-method .payment-methods div.payment-method._active .payment-method-title .label span{
    background: none;
    color: #0A0A0A;
    display: inline;
    &:hover {
      background: none;
    }
  }
  form input[type=checkbox], form input[type=radio]{
    height: 12px;
  }
}

.mark, mark {
  background: rgb(245, 245, 245);
}

.billing-address-same-as-shipping-block form input[type=checkbox]{
  display: inline;
  width: inherit;
}
