.opc-progress-bar {
  margin: 50px 0 0 20px;
}

.tocompare {
  display: none;
}
.page-layout-1column .products-grid .product-item {
  width: 33.333333%;
}
.product-item-info {
  width: 300px;
}

.fieldset > .field:not(.choice) > .control {
  width: 100%;
  float: none;
}
.fieldset > .field:not(.choice) > .label{
  text-align: left;
}

.iwd-checkout-payment-method .payment-methods div.payment-method._active .payment-method-title .label span {
  background: @color-red;
  color: #FFFFFF;
}

.iwd-summary-cart .iwd-grand-total-button:before, .iwd-summary-cart .iwd-arrow-down:after {
  content: '';
}
.iwd-checkout-step-shipping .form-shipping-address div[name="shippingAddress.country_id"],
.iwd-checkout-step-shipping .form-shipping-address div[name="shippingAddress.postcode"] {
  margin-top: 0 !important;
}

.iwd-summary-cart, .actions-toolbar button.checkout, .action.primary:focus, .action.primary:active {
  background-color: @color-red;
  color: #FFFFFF;
}

.iwd-table-checkout-shipping-method .row:before, .iwd-table-checkout-shipping-method .row:after, .billing-address-details {
  display: none;
}

.iwd-table-checkout-shipping-method > thead > tr > th {
  padding-left: 0;
}
.iwd-table-checkout-shipping-method tr > td.iwd-shipping-method-name {
  padding: 7px 0 9px 0;
}

form input {
  margin-bottom: 0;
}

.checkout-onepage-success .checkout-success {
  margin-top: 100px;
}
.checkout-onepage-success #registration {
  margin-bottom: 100px;
}

.checkout-index-index {
  .greet {
    display: none;
  }
  .header.links{
    display: inline-block;
    float: right;
    padding-top: 23px;
    font-family: "Raleway";
    text-transform: uppercase;
  }
  input, select {
    background: #F5F2F3;
    border: 0;
    height: 32px;
    margin-bottom: 10px;
  }
  .step-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    border-bottom:0;
  }
  form input[type=checkbox], form input[type=radio]{
    display: inline;
    width: 20px;
  }
  label {
    display: inline;
    font-weight: 400;
  }
  .table-checkout-shipping-method tbody td {
    border-top: 0;
    padding-bottom: 0;
  }
  .iwd-checkout-payment-method .payment-method .payment-method-title {
     label {
       position: relative;
       span {
         background: none;
         color: @color-black;;
         display: inline;
         margin-left: 25px;
         font-weight: 400;
         text-transform: initial;
         &:hover {
           background: none;
         }
       }
       &:before {
         position: absolute;
         content: ' ';
         width: 8px;
         height: 8px;
         top: 2px;
         left: 7px;
         border-radius: 50%;
         background: @color-red;
         opacity: 0;
       }
       &:after {
         position: absolute;
         content: ' ';
         width: 22px;
         height: 22px;
         border-radius: 50%;
         border: 2px solid @color-red;
         left: 0;
         top: -5px;
       }
     }
   }
  fieldset.street {
      legend.label {
        font-size: 12px;
        font-family: Raleway;
        span {
          font-size: 12px;
          font-family: Raleway;
        }
      }
      label {
        display: none;
      }
  }
  .iwd-shipping-new-address-form .field.required > .label
  .fieldset > .field:not(.choice) > .label {
    width: 100%;
  }

  .iwd-table-checkout-shipping-method input.iwd-shipping-method {
      cursor: pointer;
      display: inline-block;
      height: 15px;
      margin-right: 15px;
      position: relative;
      width: 15px;
      -webkit-appearance: none;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
      &:before {
        position: absolute;
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: @color-red;
        opacity: 0;
        top: 2px;
        left: 6px;
      }
      &:after {
        position: absolute;
        content: ' ';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 2px solid @color-red;
        left: -1px;
        top: -5px;
      }
      &:checked:before {
        opacity: 1;
      }
  }
  .table-checkout-shipping-method tbody td {
    padding-top: 10px;
  }

  .iwd-checkout-payment-method .payment-methods div.payment-method._active .payment-method-title .label  {
    &:before {
      opacity: 1;
    }
    span{
      background: none;
      color: @color-black;
      display: inline;
      &:hover {
        background: none;
      }
    }
  }
  form input[type=checkbox], form input[type=radio]{
    height: 12px;
  }
  form.form-shipping-address div#shipping-new-address-form .field {
    width: 100%;
  }

  #customer-email-fieldset {
    .note {
      display: none;
    }
  }
  .fieldset > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after, .fieldset > .field._required > .label:after, .fieldset > .fields > .field._required > .label:after {
    display: none;
  }
  .iwd-checkout-step-shipping .form-shipping-address fieldset.street {
    margin: -2px 0 0 0 !important;
  }
  .iwd-checkout-step-shipping .form-shipping-address div[name="shippingAddress.company"],
  .iwd-checkout-step-shipping .form-shipping-address div[name="shippingAddress.lastname"],
  form.form-shipping-address div#shipping-new-address-form .field
  {
    margin: 0 !important;
  }
  .billing-address-same-as-shipping-block, .checkout-agreement{
    margin-bottom: 5px;
    label {
      span{
        color: @color-black;
      }
    }
    input[type=checkbox]{
      border: 2px solid #B0181A;
      -webkit-appearance: none;
      padding: 2px 7px 0 7px;
      width: 25px !important;
      display: inline-flex !important;
      height: 25px !important;
      content: " ";
      &:checked:before{
        content: "x";
        font-weight: 700;
        color: #b0181a;
      }
      &:focus{
        outline: none;
      }
    }
  }
}

.mark, mark {
  background: rgb(245, 245, 245);
}

.billing-address-same-as-shipping-block form input[type=checkbox]{
  display: inline;
  width: inherit;
}

.checkout-cart-index {
  button.checkout{
    text-transform: uppercase;
  }
  #maincontent {
    margin-top: 164px;
  }
  .cart.table-wrapper .remove {
    padding-top: 11px;
  }
  #shopping-cart-table {
    .item-info {
      .item{
        border-top: 0;
      }
    }
    .remove {
      a{
        color: @color-black;
        span:before {
          font-size: 34px;
        }
      }
    }
  }
  .rate .item-options {
      label {
        font-size: 13px;
        padding-left: 0;
      }
      input {
        cursor: pointer;
        display: inline-block;
        height: 15px;
        margin-right: 15px;
        position: relative;
        width: 10px;
        -webkit-appearance: none;
        border-radius: 10px;
        &:focus {
          outline: none;
        }
        &:before {
          position: absolute;
          content: ' ';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: @color-red;
          opacity: 0;
          top: 2px;
          left: 6px;
        }
        &:after {
          position: absolute;
          content: ' ';
          width: 22px;
          height: 22px;
          border-radius: 50%;
          border: 2px solid @color-red;
          left: -1px;
          top: -5px;
        }
        &:checked:before {
          opacity: 1;
        }
      }
  }
}
